/* .mediaCard {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
}
img{
  width: 300px;
}
h6{
  color: red;
  font-weight: bold;
  font-size: 2rem;
} */

.lit{
  background-color: white;
  color: black;
}
.dark{
  background-color: black;
  color: white;
}
.room{
  padding: 1rem;
  border: 1px solid red;
}
.btn{
  border: 1px solid green;
  background-color: blue;
  padding: 5px;
  color: white;
}